*{
box-sizing: border-box;
}
body{
    margin: 0%;
}
header{
       background-color: darkcyan;
       text-align: center;
       padding: 25px;
}
.navbar{
    background-color:black ;
    height: 50px;
}
aside{
    width: 15%;
    float: left;
    padding: 10px;
}
section{
    width: 45%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}
footer{
    display: block;
    clear: both;
    background-color: darkcyan;
    padding: 25px;
    text-align: center;
}
@media screen and(max-width:600px){
    aside, section, article{
        width: 100%;
    }         
}



